.content-left {
  margin: 0;
  padding: 20px 0;
align-content:start;

}
.content-justify {
  text-align: justify;
  
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}