<!DOCTYPE html>
<html>
  <%- include('./head')%>
  <body>
    <%- include('./nav') %>
    <div class="container text-center">
      <div class="row">
        <div class="col-8">
          <%- include('./posts') %>
        </div>
        <div class="col-4">col-4</div>
      </div>
    </div>
  </body>
</html>