<!DOCTYPE html>
<html>
  <%- include('./head')%>
  <body>
   
    <%- include('./nav') %>
    <div class="container text-center">
      <div class="row mt-5" >
        <div class="col-8">
          <div id="liveAlertPlaceholder"></div>
          <div class="input-group mb-3">
            <input type="text" id="email" class="form-control" placeholder="Email" aria-label="Username"
              aria-describedby="basic-addon1">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
          <div class="input-group mb-3">
            <input type="text" id="user" class="form-control" placeholder="UserName" aria-label="Recipient's username"
              aria-describedby="basic-addon2">
          </div>
          <div class="input-group mb-3">
            <input type="password" id="pass" class="form-control" placeholder="Password" aria-label="Recipient's username"
              aria-describedby="basic-addon2">
          </div>
          <div class="input-group mb-3">
            <button type="button" id="registration" class="float-start btn btn-success">Registration</button>
          </div>
        </div>
        <div class="col-4 text-start">
          <%- include('./rate')%>
          <%- include('./comments')%> 
        </div>
      </div>
    </div>
    <script>
      let inptuser = document.querySelector('#user')
      let create = document.querySelector('#registration')
      let inptemail = document.querySelector('#email')
      let inptpass = document.querySelector('#pass')
      let alertPlaceholder = document.querySelector('#liveAlertPlaceholder')
      create.onclick = function(){
        axios.post('/signup',{
          email: inptemail.value,
          username: inptuser.value,
          password: inptpass.value
        })
        .then((response)=>{
          window.location.href=window.location.origin+'/login';
          console.log(response.data)
        })
        .catch(function (error) {
              alert(alertPlaceholder, error.response.data.message, 'danger')
            });
      }
    </script>
    
  </body>
</html>